* {
  font-family: 'PT Sans';
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
}

p {
  padding: 0;
}

h1 h2 h3 h4 h5 h6 {
  padding: 0;
}

.container {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
